.login {
  width: 100%;
  height: 100%;
  //background: #c9d6ff; /* fallback for old browsers */
  //background: -webkit-linear-gradient(to right, rgb(201, 214, 255), rgb(226, 226, 226)); /* Chrome 10-25, Safari 5.1-6 */
  //background: linear-gradient(to right, rgb(201, 214, 255), rgb(226, 226, 226)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: url("@/assets/images/login_bg.png") no-repeat center center fixed;
  background-size: cover;

  &-box {
    width: 23vw;
    padding: 20px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    box-shadow: 0 0 5px #999999;
    display: flex;
    flex-wrap: wrap; /* 避免元素溢出容器 */
    justify-content: space-between; /* 左右对齐 */

    &-left {
      width: 40%; /* 调整为适当的宽度 */

    }

    &-right {
      width: 60%; /* 调整为适当的宽度 */
    }


    @media (max-width: 874px) {
      width: 50vw;
      flex-direction: column;
      &-left {
        width: 100%; /* 调整为适当的宽度 */
      }
      &-right {
        width: 100%; /* 调整为适当的宽度 */
      }
    }
  }

  &-form-forgot {
    text-align: right;
  }

  &-form—submit {
    margin-top: 30px;
  }

  &-form—submit-button {
    width: 100%;
  }


}