.login {
  width: 100%;
  height: 100%;
  //background: #c9d6ff; /* fallback for old browsers */
  //background: -webkit-linear-gradient(to right, rgb(201, 214, 255), rgb(226, 226, 226)); /* Chrome 10-25, Safari 5.1-6 */
  //background: linear-gradient(to right, rgb(201, 214, 255), rgb(226, 226, 226)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: url("@/assets/images/login_bg.png") no-repeat center center fixed;
  background-size: cover;

  &-box {
    padding: 15px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    box-shadow: 0 0 5px #999999;
    &-left{
      width: 20vw;

    }
    &-right{
      width: 20vw;
    }
  }
  &-form-forgot{
    text-align: right;
  }
  &-form—submit{
    margin-top: 30px;
  }
  &-form—submit-button{
    width: 100%;
  }



}