#ChartsMainBox {
  height: 100%;
  width: 100%;
}

//

$headerHeight: 60px;
$DecorationHeight: 40px;
#ChartsMainBox {
  background: url("../../assets/images/bg.png") no-repeat 100%;
  background-size: 100% 100%;


  .ChartsHeader {
    position: relative;
    width: 100%;
    height: $headerHeight;

    .t {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: $headerHeight;
      line-height: $headerHeight;
      color: #75deef;
      font-size: 20px;
      letter-spacing: 10px;
      text-align: center;
    }

    .time {
      position: absolute;
      top: 40px;
      color: #75deef;
      right: 50px;
    }
  }

  .Decoration {
    height: $DecorationHeight;
    width: 100%;
  }

  .ChartsContainer {
    width: 100%;
    height: calc(100% - $headerHeight);
    padding: 10px 15px 20px 15px;

    .card {
      padding: 10px;
    }

    .l {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-align-content: space-between;
      align-content: space-between;

      #l1 {
        width: 100%;
        height: 24%;
      }

      #l2 {
        width: 100%;
        height: 35%;
      }

      #l3 {
        width: 100%;
        height: 35%;
      }
    }

    .c {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-align-content: space-between;
      align-content: space-between;

      #c0 {
        width: 100%;
        height: 2%;
      }

      #c1 {
        width: 100%;
        height: 55%;
      }

      #c2 {
        width: 100%;
        height: 40%;

        .tabs {
          width: calc(100% - 13px);
          position: absolute;
          top: 0;
          left: 0;
          transform: translate(0, 28px);
          height: calc(100% - 40px);

          .ant-tabs-nav-list {
            height: 100%;
          }

          .ant-tabs-content {
            height: 100%;

            .ant-tabs-tabpane {
              height: 100%;
            }
          }
        }
      }
    }

    .r {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-align-content: space-between;
      align-content: space-between;

      #r1 {
        width: 100%;
        height: 35%;
        // 滚动条
        .data-list {
          width: calc(100% - 30px);
          height: calc(100% - 30px);
          padding: 15px;
          text-align: center;
          color: #14EBFF;
          overflow: hidden;


          .data-list-title {
            height: 30px;
          }

          .data-list-content {
            height: calc(100% - 30px);
            overflow-y: scroll;
            overflow-x: hidden;

            &::-webkit-scrollbar {
              width: 5px;
            }

            &::-webkit-scrollbar-thumb {
              background: #ccc; // 滑块颜色
              border-radius: 5px; // 滑块圆角
            }



            .ant-row {
              margin: 10px 0;
            }

          }
        }

      }

      #r2 {
        width: 100%;
        height: 24%;
      }

      #r3 {
        width: 100%;
        height: 30%;
      }
    }


    .content_title {
      width: 200px;
      height: 50px;
      text-align: center;
      color: #01c4f7;
      font-size: 14px;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -100px;
    }

  }

}