* {
  padding: 0;
  margin: 0;
}

html, body, #root, .ant-spin-nested-loading, .ant-spin-container {
  height: 100%;
  width: 100%;

}

//logo
.ant-pro-top-nav-header-logo > *:first-child > img {
  height: 46px;
}

//loading}